#mass-update-mass-edit{
    font-family: "Salesforce Sans", Arial, sans-serif;
    position: relative;
}
#mass-update-mass-edit .slds-spinner_container{
    position: absolute;
}
#mass-update-mass-edit .dateOnlyInput input {
    width: 7em;
}
#mass-update-mass-edit .bPageBlock {
    border: 1px solid #d8dde6; 
    background: rgb(247, 249, 251);
}
#mass-update-mass-edit .headerRow{
    background: #fff;
    color: rgb(84, 105, 141);
    font-weight: normal;
    border-left: 0px;
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}
#mass-update-mass-edit .list{
    rgb(22, 50, 92);
}
#mass-update-mass-edit .list td, #mass-update-mass-edit .list th{
    border-bottom: 1px solid #d8dde6; 
}
#mass-update-mass-edit .list{
    border: 1px solid #d8dde6; 
}
#mass-update-mass-edit .pbBody input{
    background-color: rgb(255, 255, 255);
    color: rgb(22, 50, 92);
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    //width: 100%;
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    //padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    //min-height: calc(2.125rem + 2px);
    height: 2rem;
}
#mass-update-mass-edit .pbBody select{
    background-color: rgb(255, 255, 255);
    color: rgb(22, 50, 92);
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    //width: 100%;
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    //padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    //min-height: calc(2.125rem + 2px);
    height: 2rem;
}
#mass-update-mass-edit .message{
    background-color: #fff;
}